---
import { motion } from "framer-motion"

import { Form } from "@/components/Form"
import Layout from "@/layouts/Layout.astro"

import "@/styles/styles.css"
import "@/styles/globals.css"

import { Test } from "@/components/Test"
---

<Layout title="A Life of a Bai">
    <div class="page-header grid-cols-4 lg:grid">
        <div></div>
        <div class="col-span-2">
            <!-- Animated Intro -->
            <Test client:load />
            <!-- By Cookies -->

            <section
                class="relative mb-[2rem] mt-[7rem] border-solid border-red-500 py-[3rem]"
            >
                <p
                    class="absolute left-0 top-[1rem] px-8 text-4xl text-white opacity-75"
                >
                    by
                </p>

                <div
                    class="cookies-logo-container mx-auto h-auto w-[20rem] rotate-[-15deg]"
                >
                    <img
                        src="/cookies-logo-nobg-white.png"
                        id="cookies-logo"
                        alt=""
                        class="cookies-logo"
                    />
                </div>

                <p
                    class="absolute bottom-0 right-[1rem] text-4xl text-white opacity-75"
                >
                    10.25.2024
                </p>
            </section>
            <!-- Album Cover -->
            <section
                class="relative flex items-center justify-center bg-[#BC2725] px-2 py-24"
            >
                <img
                    src="/texture-rock-overlay.jpg"
                    class="absolute top-0 z-0 h-full w-full bg-black mix-blend-overlay"
                />
                <div
                    class="absolute top-0 h-24 w-full"
                    style="background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));"
                >
                </div>

                <img
                    src="/album-cover-combined-nobg.png"
                    alt=""
                    srcset=""
                    class="pointer-events-none z-10"
                />
            </section>
            <!-- Songs Section -->
            <section>
                <!-- playsinline - allows autoplay in safari/iOS devices -->
                <div
                    class="relative inset-0 m-0 flex h-svh flex-col items-center justify-center bg-[#101010] p-0"
                >
                    <h1 class="text-[5rem] font-bold text-white">17B</h1>
                    <video
                        class="absolute h-auto w-auto object-cover"
                        autoplay
                        loop
                        muted
                        playsinline
                    >
                        <source
                            src="/17b-edited-final.webm"
                            type="video/webm"
                        />
                        Your browser does not support the video tag.
                    </video>
                </div>
            </section>

            <!-- Merch Section -->
            <section></section>

            <!-- Form -->
            <section></section>
        </div>
        <div></div>
    </div>
    <!-- <Form /> -->
</Layout>
