---
import { motion } from "framer-motion"

import { Form } from "@/components/Form"
import Layout from "@/layouts/Layout.astro"

import "src/styles/styles.css"
import "src/styles/global.css"

import { AlbumCover } from "@/components/AlbumCover"
import { Intro } from "@/components/Intro"
import { ListenNow } from "@/components/ListenNow"
import { Merch } from "@/components/Merch"
import { MerchForm } from "@/components/MerchForm"
import { MusicVideo } from "@/components/MusicVideo"
import { MusicVideoContainer } from "@/components/MusicVideoContainer"
import { Songs } from "@/components/Songs"
import { TransitionCarousel } from "@/components/TransitionCarousel"
---

<Layout title="A Life of a Bai">
    <div class="page-header e grid-cols-4 lg:grid">
        <div></div>
        <div class="col-span-2">
            <Intro client:load />
            <section
                class="relative mb-[2rem] mt-[7rem] w-full border-solid border-red-500 px-4"
            >
                <!-- <p
                    class="left-0 top-[1rem] px-8 text-4xl text-white opacity-75"
                >
                    by
                </p> -->

                <p class="relative left-0 top-4 text-4xl text-white opacity-75">
                    by
                </p>
                <div class="cookies-logo-container h-auto rotate-[-15deg]">
                    <img
                        src="./cookies-logo-nobg-white.png"
                        id="cookies-logo"
                        alt=""
                        class="cookies-logo mx-auto w-fit"
                    />
                </div>

                <p
                    class="bottom-0 right-0 ml-auto w-fit text-4xl text-white opacity-75"
                >
                    10.25.2024
                </p>
            </section>
            <AlbumCover />
            <Songs client:visible />
            <Merch client:idle />
            <TransitionCarousel client:idle />
            <ListenNow />
            <MerchForm />
        </div>
        <div></div>
    </div>
    <!-- <Form /> -->
</Layout>

<!-- Todo -->
<!-- Add scroll snapping to Song section -->
<!-- Style Merch Forms -->
<!-- Add Footer -->
